.FolderLink {
    display: flex;
    align-items: center;
    gap: var(--space-gap-0);
    width: min-content;
    line-height: 1;
}

.FolderLink--Text {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
