.GalleryItem {
    width: auto;
    height: 200px;
}

.GalleryItem--button {
    position: relative;
    display: inline-flex;
    border: none;
    padding: 0;
    background-color: transparent;
    border-radius: var(--outline-radius);
    cursor: zoom-in;
}

.GalleryItem--button .ItemCheckbox {
    position: absolute;
}

.GalleryItem .GalleryItem--button {
    outline-offset: var(--outline-offset);
    outline-style: none;
    outline-width: var(--outline-width);
    outline-color: var(--action-disabled-bg-color);
}

.GalleryItem .GalleryItem--button:focus,
.GalleryItem .GalleryItem--button:focus-visible,
.GalleryItem-is-current .GalleryItem--button {
    outline-style: var(--outline-style);
}

.GalleryItem .GalleryItem--button:focus,
.GalleryItem .GalleryItem--button:focus-visible {
    outline-color: var(--outline-color);
}
