.PageLayout {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding-bottom: calc(var(--scale-xs) + var(--scale-l));
    overflow-y: auto;
}

@media screen and (orientation: landscape) {
    .PageLayout {
        padding-bottom: 0;
    }
}
