.MainNav {
    height: 100vh;
    min-width: min-content;
    max-width: min-content;
    border-right: 1px solid hsl(var(--surface-bg-hue-sat), var(--color-bg-light-5));
}

.MainNav-home {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
}

.MainNav .Button {
    width: 100%;
    justify-content: start;
    position: relative;
    outline-offset: -3px;
}
