.SideNav {
    height: min-content;
}

.SideNav--Container {
    padding-top: 0;
    padding-bottom: 0;
}

.SideNav--Container > .Flex {
    padding-top: var(--space-pad-1);
    border-top: var(--divider-border);
    padding-left: 0;
    padding-right: 0;
}

@media screen and (orientation: landscape) {
    .SideNav--Container > .Flex {
        flex-direction: column;
    }
}
