.AlbumTitle {
    display: flex;
    gap: var(--space-gap-0);
    overflow: none;
}

.AlbumTitle .AlbumLink {
    flex-shrink: 1;
    max-width: 100%;
}

.AlbumTitle--text {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.AlbumTitle .BreadcrumbFolderIcon {
    flex-shrink: 0;
}
